[submodule "site-lisp/ac-slime"]
	path = site-lisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule "site-lisp/emacs-open-github-from-here"]
	path = site-lisp/emacs-open-github-from-here
	url = git://github.com/shibayu36/emacs-open-github-from-here.git
[submodule "site-lisp/emacs-zlc"]
	path = site-lisp/emacs-zlc
	url = https://github.com/mooz/emacs-zlc.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/multi-mode-util"]
	path = site-lisp/multi-mode-util
	url = https://github.com/tarao/multi-mode-util.git
[submodule "site-lisp/popwin-el"]
	path = site-lisp/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/el-get"]
	path = site-lisp/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "site-lisp/emacs-powerline"]
	path = site-lisp/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
