[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/ac-slime"]
	path = site-lisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule "site-lisp/emacs-skype"]
	path = site-lisp/emacs-skype
	url = https://github.com/kiwanami/emacs-skype.git
